.footer {
  width: 100%;
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: var(--green-dark);
  color: var(--white);
  align-items: center;
}

.footer_mainPart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  height: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.footer_form {
  width: 40%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer_form div {
  background-color: var(--green-dark);
  color: var(--white);
}

.footer_form button {
  margin-top: 10px;
}

.footer_link {
  padding: 0;
  border-top: none;
  margin-right: 1rem;
  font-size: 1rem;
  display: block;
  text-align: center;
  text-transform: capitalize;
  color: var(--white);
  letter-spacing: var(--letterSpacing);
}
.footer_link:hover{
  color: var(--gold-dark);
}
.active_link {
  color: var(--primary-500);
}

@media only screen and (max-width: 601px) {
  .footer {
    height: 470px;
  }
  .footer_mainPart {
    flex-direction: column;
    justify-content: space-around;
  }
  .footer_form {
    height: 40%;
    width: 70%;
  }
  .footer_form button {
    width: 100%;
  }
  .footer_link {
    margin: auto;
  }
}

@media only screen and (max-width: 401px) {
  .footer {
    height: 470px;
  }
  .footer_mainPart {
    flex-direction: column;
    justify-content: space-around;
  }
  .footer_form {
    height: 40%;
    width: 100%;
  }
  .footer_form button {
    width: 100%;
  }
  .footer_link {
    margin: auto;
  }
}