@import url("https://fonts.googleapis.com/css?family=Montserrat:400|Inconsolata:400"); 

*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  /* COLORS  */
  /* primary */
  --primary-0: #f0efff;
  --primary-50: #d8d6ff;
  --primary-100: #c1beff;
  --primary-200: #aaa5ff;
  --primary-300: #938dff;
  --primary-400: #7b74ff;
  /* main */
  --primary-500: #645cff;
  --primary-600: #554ed9;
  --primary-700: #4640b3;
  --primary-800: #37338c;
  --primary-900: #282566;
  --primary-1000: #191740;
  --primary-1100: #0a0919;
  /* grey */
  --grey-0: #fafbfc;
  --grey-50: #f2f4f8;
  --grey-100: #eaedf3;
  --grey-200: #e2e7ef;
  --grey-300: #dbe0ea;
  --grey-400: #d3dae6;
  --grey-500: #cbd3e1;
  --grey-600: #adb3bf;
  --grey-700: #8e949e;
  --grey-800: #70747c;
  --grey-900: #51545a;
  --grey-1000: #333538;
  --grey-1100: #141516;

  /* rest */
  --black: #222;
  --white: #fff;
  --gold-dark: #d3a172;
  --orange-dark: #986c43;
  --green-dark: #364037;
  /* box shadows */
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  /* typography */
  --defaultFontSize: 87.5%;
  --headingFont: "Inconsolata", monospace;
  --bodyFont: "Montserrat", sans-serif;
  --smallText: 0.8em;
  --extraSmallText: 0.7em;
  /* rest */
  --backgroundColor: var(--grey-0);
  --textColor: var(--grey-1000);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
}
html {
  font-size: var(--defaultFontSize);
}
@media only screen and (min-width: 576px) {
  :root {
    --defaultFontSize: 100%;
  }
}
@media only screen and (min-width: 768px) {
  :root {
    --defaultFontSize: 112.5%;
  }
}

body {
  background: var(--backgroundColor);
  color: var(--textColor);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
}

p {
  margin: 0;
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text-small {
  font-size: var(--smallText);
}

ul {
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
video {
  position: absolute;
  z-index: 1;
  width: 100%;
  max-height: 775px;
}
.img {
  width: 100%;
  display: block;
  object-fit: cover;
}
.form {
  width: 100%;
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
}
label {
  display: block;
  font-size: var(--smallText);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}

input,
textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--grey-0);
  border-color: transparent;
  border: 1px solid var(--grey-300);
}
.form-row {
  margin-bottom: 1rem;
}
textarea {
  width: 100%;
  height: 7rem;
}

::placeholder {
  color: var(--grey-600);
}

button,
.btn {
  cursor: pointer;
  appearance: none;
  color: var(--white);
  background: var(--primary-500);
  border: none;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
}
button:hover,
.btn:hover {
  color: var(--white);
  background: var(--primary-700);
  box-shadow: var(--shadow-2);
}

/*#########*/
/* 404 */
/*#########*/

.errorPage {
  width: 100%;
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://media.istockphoto.com/photos/error-404-picture-id537812190?s=612x612');
}

/*#########*/
/* main */
/*#########*/

.hero{
  margin-top: 6rem;
  margin-bottom: 20px;
}

/*#########*/
/* Header */
/*#########*/
header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: rgb(54,64,55);
}

/*#########*/
/* Home */
/*#########*/

.videoSection {
  position: relative;
  height: 600px;
}

@media only screen and (max-width: 576px) {
  .videoSection {
    height: 400px;
  }
}

.recentPosts {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.homepageCardWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;;
  flex-basis: 20px;
}

.picturesList {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.homepageImageList {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.homepageImageList_wrapper {
  position: relative;
  width: 198px;
  height: 198px;
}

@media only screen and (max-width: 576px) {
  .homepageImageList_wrapper {
    width: 202px;
    height: 202px;
  }
}

.homepageImageList_info{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: opacity(0%);
}

.homepageImageList_info:hover {
  transition: filter ease-in-out 1s;
  background-color: var(--black);
  filter: opacity(90%);
}

.homepageImageList_text {
  display: none;
}

.homepageImageList_info:hover .homepageImageList_text{
  display: block;
  opacity: 1;
  margin-bottom: 0;
  color: var(--white);
}

/*#########*/
/* About */
/*#########*/

.about_wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/*#########*/
/* Contact */
/*#########*/

.contactpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/*#########*/
/* Blog */
/*#########*/

.blogpage {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.blogpage_cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 852px) {
  .blogpage_cards {
    flex-direction: column;
  }
}

/*#########*/
/* Template */
/*#########*/

.templatePage_wrapper{
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.templatePage_socials {
  position: fixed;
  right: 0;
  top: 35%;
  width: 5%;
  background: rgb(211, 161, 114);
  border: 1px solid rgb(108 166 114);
  border-radius: 7px 0 0 7px;
}

.templatePage_links {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}